[v-cloak] {
    display: none;
}

#map {

    height: 500px;
}

#mapIf {
    width: -webkit-fill-available;
    height: -webkit-fill-available;
}

.list-group-item .restaurants {
    height: 100px;

}